body {
  margin:0;
  padding:0;
  font-family: monospace, serif;
  overflow:hidden;
}

.all {
  margin:0;
  padding:0;
  background: linear-gradient(#0f0f0f, #1d1f30), repeating-linear-gradient(45deg,rgba(255, 255, 255, 0.015) 0px,rgba(255, 255, 255, 0.015) 1px,transparent 1px,transparent 2px);
  background-blend-mode: overlay;
  height:100vh;
}

.all2 {
  margin:0;
  padding:0;
}

.hidden {
  display:none;
}

.text {
  margin:0;
  padding:0;
  color:#ffffff;
  background-color: transparent;
  text-align: center;
}

.icon {
  height:6vh;
  float:right;
}

.content {
  text-align: center;
  height:100%;
  padding-top: 10vh;
}

.dropdown {
  margin:auto;
  margin-top: 3em;
}

#mobile {
  display:none;
}

.ddselector {
  width:6em;
  display:inline-block;
  color:#ffffff;
  background-color:rgb(51, 51, 51);
  border-radius: 0.7cap;
  cursor:pointer;
  user-select: none;
}

#textMobile {
  display:none;
}

p {
  color:#ffffff
}

#unlockMobile {
  cursor:pointer; /* im a little bit stupid. */
  text-decoration: underline;
  color:aqua
}

#relockMobile {
  cursor:pointer; /* im a little bit stupid. */
  text-decoration: underline;
  color:aqua
}

#textMobileBypass {
  display:none;
}

.ddselector2 {
  width:6em;
  display:inline-block;
  color:#ffffff;
  background-color:rgb(51, 51, 51);
  border-radius: 0.7cap;
  cursor:pointer;
  user-select: none;
}

.sp12 {
  font-size: 1.5em;
}

.sp8 {
  font-size: 1.5em;
}

.sp8F {
  font-size: 1.5em;
}

#c12:checked ~ .sp12 {
  display: block;
}

#c12:not(:checked) ~ .sp8 {
  display:none;
}

#c12:checked ~ .sp12 {
  display:none
}

.play {
  color:#ffffff;
  background-color: rgb(51, 51, 51);
  margin-top: 5vh;
  width:3em;
  font-size: 1.5em;
  border-radius: 0.5cap;
  display:inline-block;
  cursor: pointer;
  user-select: none;
}