/* geniunely surprised it let me do this tbh. */
@media not all and (min-width:1240px) {
    body {
        display:none;
    }
    head {
        display:block;
    }
    head {
        display:flex;
        height:100vh;
        background-color:#ffffff;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-items:center;
        justify-content: center;
    }
    head::before {
        content:"this website is best viewed on a computer";
    }
}

