
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: rgb(120, 120, 120);
    color:rgb(223, 220, 220);
    margin:0;
    overflow-x: hidden;
}

.source {
    border-radius: 1cap;
    margin: 8px;
    float: right;
    margin-right: 1em;
    height: 44px;
    overflow-x: hidden;
}


@media all and (min-width: 815px) {
    .bottom {
        background-color: rgb(36, 35, 35);
        padding-bottom: 1px;
        width: 100%;
        margin: 0;
        border: 0;
        border-top: 0.1em;
        border-style: solid;
        border-color: rgb(156, 155, 155);
        margin-top: -9em;
        z-index: 1;
        overflow-x: hidden;
    }

    .bottomlink {
        color:rgb(34, 148, 255);
        overflow-x: hidden;
    }
    
    .TOSText {
        font-size: 8vw;
        float: left;
        margin-left: 5%;
     }
    
    .aside {
        background: #3d3d3d; 
        margin-top: -2em;
        margin-left: 75%;
        width:2px;
        height: 15em
    }
    
    .bmargin {
        margin: 1em;
        text-align: center;
    }

    .thesocials {
        margin-left: 75%; margin-top: -14em;
    }

    .socialtext {
        margin-left: 75%;
    }
}

@media not all and (min-width: 815px) {
    .bottom {
        background-color: rgb(36, 35, 35);
        padding-bottom: 1px;
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        border-top: 0.1em;
        border-style: solid;
        border-color: rgb(156, 155, 155);
        margin-top: 1em;
        z-index: 1;
        overflow-x: hidden;
    }

    .bottomlink {
        color:rgb(34, 148, 255);
        overflow-x: hidden;
    }
    
    .TOSText {
        font-size: 8vw;
        text-align: center;
     }
    
    .aside {
        background: #3d3d3d; 
        margin-bottom: 0em;
        width:45%;
        margin-left: 25%;
        height: 0.1em;
        transform: translateY(-4em);
    }
    
    .bmargin {
        margin: 1em;
        text-align: center;
    }
}

@media not all and (min-width: 1215px) {
    .welcometext {
        text-align: center;
        margin-bottom: 1em;
    }

    .welcomedesc {
        text-align: center;
        margin-top: -1em;
        margin-bottom: 1em;
    }

    .sec1 {
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        margin:8px;
        margin-top: 6em;
        border-radius: 5cap;
        padding-top: 0.001em;
        padding-left: 1em;
        padding-bottom: 1em;
    }
}

@media all and (min-width: 1215px) {
    .welcometext {
        transform:translate(3em, 4em);
        max-width: 140px;
    }
    
    .welcomedesc {
        text-align: center;
        width:60%;
        margin-left: 20%;
        margin-top: -1em;
        margin-bottom: 1em;
    }

    .sec1 {
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        margin:8px;
        margin-top: 6em;
        border-radius: 5cap;
        padding-top: 0em;
        padding-left: 1em;
        padding-bottom: 1em;
    }
}

@media all and (min-width: 815px) {
    .sec2part1 {
        margin:8px;
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        width:49%;
        transform:translateY(11em);
        border-radius: 5cap;
    }
    .sec2part2 {
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        width:49%;
        transform:translate(103%, -0.3em);
        border-radius: 5cap;
    }
    .sec3part1 {
        margin:8px;
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        width:49%;
        border-radius: 5cap;
    }
    .sec3part2 {
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        width:49%;
        border: dashed 5px #ff8800;
        transform:translate(101%, -102%);
        border-radius: 5cap;
    }
}

@media not all and (min-width: 815px) {
    .sec2part1 {
        margin:8px;
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        transform:translateY(11em);
        border-radius: 5cap;
    }
    .sec2part2 {
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        margin: 1px;
        margin-top: 12em;
        border-radius: 5cap;
    }
    .sec3part1 {
        margin:8px;
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        border-radius: 5cap;
    }
    .sec3part2 {
        color: rgb(223, 220, 220);
        background-color: rgb(97,97,97);
        height:10em;
        border: dashed 5px #ff8800;
        border-radius: 5cap;
    }
    .stufftext {
        font-size: 4vw;
    }
}

@media not (min-width:609px) {
    .stufftext {
        font-size: 6vw;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(97,97,97);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 1cap;
    border: 0px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(97,97,97);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(100,100,100);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(100,100,100);}