@keyframes barrelroll {
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(180deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes movingstripesbg {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: calc(2.222222222 * 100vh * -1);
    }
}

body {
    margin:0;
    padding:0;
    width:100vw;
    min-height:100vh;
    font-size:15px;
    color:#1c6b7d;
    font-family:"Pixelify Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display:flex;
    justify-content: center;
    word-wrap:break-word;
}

.body-background {
    background: url("graphics/ocean.png");
    height:100vh;
    position:fixed;
    z-index:1;
    image-rendering:pixelated;
    background-size:auto 100vh;
    width:100vw;
    animation-name:movingstripesbg;
    animation-duration:30s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}

#bb-invert {
    width:100vw;
    height:100vh;
    position:fixed;
}

#modifiers {
    position:fixed;
    z-index:3;
    width:100%;
}

.modifiers-right {
    width:112px;
    margin-top:10px;
    margin-right:10px;
    float:right;
    /*background-color:#d6f0f0;*/
    height:40px;
}

.modifiers-left {
    display:none;
    height:40px;
}

.mod-content {
    background:#d6f0f0;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.height-max {
    height:100%;
}

.top-signature {
    font-family:monospace;
    display:flex;
    justify-content: center;
}

#music-controls {
    display:grid;
    grid-template-columns:auto auto auto;
}

#music-controls span {
    display:flex;
    justify-content:center;
}

#music-settings {
    float:right;
    display:block;
    cursor:pointer;
}

#music-playing {
    text-overflow:clip;
    overflow:hidden;
    white-space:nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform:translateX(-100%);
    }
}

#music-playing span {
    display:inline-block;
    padding-left:100%;
    animation-name:marquee;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-duration:5s;
}

.middled {
    background: #00000000;
    width:1200px;
    height:fit-content;
    min-width:1200px;
    margin:20px;
    z-index:2;
    margin-top:0;
    display:grid;
    grid-template-rows: 160px auto;
}


.split-sidebar {
    grid-template-columns:160px calc(100% - 160px);
    display:grid;
    width:100%;
}

@media not all and (min-width:1240px) {
    body {
        display:flex;
        overflow:visible;
    }
    .middled {
        display:block;
        position:absolute;
        padding-bottom:5px;
        min-width:10px;
        width:calc(100% - 20px);
    }
    .content {
        width:100%;
    }
    .modifiers-left {
        width:40px;
        display:block;
        margin-top:10px;
        margin-left:10px;
        float:left;
        height:40px;
    }
    .sidebar {
        display:none;
    }
    .split-sidebar {
        padding-left:20px;
        grid-template-columns:auto;
    }
}

.page-bottom {
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.page-bottom div {
    display:grid;
    grid-template-rows:auto auto;
}

.regular-font {
    font-family:serif;
}

.bordering {
    border: 3px dashed #62ecd7;
}

.content {
    background:#d6f0f0;
}


#main-content {
    margin:20px;
    margin-left:0;
}

h2 {
    margin-bottom:0;
}

.width-full {
    display:block;
    width:100%;
}

.display-none {
    display:none;
}

#main-content a {
    animation:becomesmall ease-in-out 1 0.2s;
    display:inline-block;
    z-index:1;
    backdrop-filter: blur(4px);
}

#main-content a:hover {
    scale:1.2;
    z-index:2;
    animation-name: becomebig;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@keyframes overlay-equip {
    0% {
        background-color:#00000000;
    }
    100% {
        background-color:#000000aa;
    }
}

@keyframes overlay-content-equip {
    0% {
        transform:translateX(-165px);
    }
    100% {
        transform:translateX(0px);
    }
}

.sidebar-overlay {
    position:fixed;
    z-index:99;
    background-color:#000000aa;
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns:165px auto;
    animation:overlay-equip 0.2s ease-in-out;
}

#close-sidebar {
    height:100%;
    display:block;
    image-rendering: pixelated;
    padding:5px;
    animation:overlay-content-equip 0.2s ease-in-out;
}

#close-sidebar img {
    cursor:pointer;
}

.sidebar-overlay-content {
    width:165px;
    padding-top:5px;
    display:inline-block;
    height:100%;
    background-color:#d6f0f0;
    padding-right:3px;
    border-right:3px dashed #62ecd7;
    animation:overlay-content-equip 0.2s ease-in-out;
}
