html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(120, 120, 120);
    margin:0;
    color: rgb(223,220,220)
}

a {
    color: rgb(34, 148, 255);
}
.sec {
    background-color: rgb(97,97,97);
    border-radius: 2cap;
    margin:8px;
    padding-top: 0.5vh;
    padding-left: 0.5vw;
    padding-bottom: 7vh;
}

.welcome {
    text-align: center;
}

/* @media all and (min width:815px)*/

.row {
    display:flex;
    flex-direction: row;
}

.topleft {
    background-color: rgb(97,97,97);
    border-radius: 2cap;
    margin:8px;
    width:50%;
    padding-top: 0.5vh;
    padding-left: 2vw;
    padding-bottom: 7vh;
}

.long {
    background-color: rgb(97,97,97);
    border-radius: 2cap;
    margin:8px;
    padding-top: 0.5vh;
    padding-left: 2vw;
    padding-bottom: 7vh;
}
    
.topright {
    background-color: rgb(97,97,97);
    border-radius: 2cap;
    margin:8px;
    width:50%;
    padding-top: 0.5vh;
    padding-left: 2vw;
    padding-bottom: 7vh;
}

@media not all and (min-width:815px) {
    .row {
        flex-direction: column;
    }
    
    .topleft {
        width:auto;
        text-align: center;
    }
    
    .topright {
        width:auto;
        text-align: center;
    }
}
