body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(120, 120, 120);
    color: #ffffff;
    overflow-x: hidden;
}

.welcometext {
    margin-bottom: 2em;
}

img {
    height: 400px;
}

.row1 {
    margin-left: 1em;
}

.row2 {
    margin-left: 1em;
    margin-top: 2em;
}

.row3 {
    margin-left: 1em;
}

.pretzel {
    margin:0;
    margin-left: 43em;
    margin-top: -3em;
}

.bowling {
    margin:0;
}

.sec {
    background-color: rgb(97,97,97);
    margin-top: 6%;
    width: 100%;
    border-radius: 1.5cap;
}

h1 {
    margin-left: 1em;
    transform:translateY(0.5em);
}

h2 {
    color:#ffffff;
}