body {
  margin:0;
  padding:0;
  font-family: monospace, serif;
  overflow:hidden;
}

.all {
  margin:0;
  padding:0;
  background: linear-gradient(#0f0f0f, #1d1f30), repeating-linear-gradient(45deg,rgba(255, 255, 255, 0.015) 0px,rgba(255, 255, 255, 0.015) 1px,transparent 1px,transparent 2px);
  background-blend-mode: overlay;
  height:100vh;
}

.all2 {
  margin:0;
  padding:0;
}

.hidden {
  display:none;
}

.text {
  margin:0;
  padding:0;
  color:#ffffff;
  background-color: transparent;
  text-align: center;
}

.icon {
  height:6vh;
  float:right;
}

.content {
  text-align: center;
  height:100%;
  padding-top: 10vh;
}

#mobile {
  display:none;
}

p {
  color:#ffffff
}

.dropdown {
  margin: 0;
  display:grid;
  grid-template-columns: 3;
  align-items: center;
  margin-top: 1.5em;
}

.versionSelect {
  color:#ffffff;
  background-color: rgb(51, 51, 51);
  margin-top: 5vh;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.5em;
  width:3em;
  border-radius: 0.5cap;
  display:inline-block;
  cursor: pointer;
  user-select: none;
  grid-column: 2;
  
}

.drops {
  background-color: rgb(51, 51, 51);
  color:#ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.5em;
  border-radius: 0.5cap;
  display:fixed;
  width:3em;
  text-align: center;
  cursor: pointer;
  user-select: none;
  grid-column: 2;
  position:absolute;
}

.dropsholder {
  display:none;
}

.dropsDescendant {
  text-align: center;
  width:calc(100% + 1em);
  transform: translateX(-0.5em);
}

.dropsDescendant:hover {
  background-color: rgb(75, 75, 75);
}
/**/

.versionSelect:hover ~ .dropsholder {
  display:block
}


.dropsholder:hover {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display:block
}

/**/

.play {
  color:#ffffff;
  background-color: rgb(51, 51, 51);
  margin-top: 5vh;
  width:3em;
  font-size: 1.5em;
  border-radius: 0.5cap;
  display:inline-block;
  cursor: pointer;
  user-select: none;
}