@keyframes backgroundFade {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position:0%;
    }
}

body {
    background:linear-gradient(45deg, #2d0f36, #000000);
    background-size:200%, 100%;
    animation: infinite backgroundFade ease-in-out 10s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    padding:0;
    height:100vh;
}

.header {
    position:fixed;
    width:100vw;
    height:4cap;
}

.header1 {
    background-color:#00000055;
    display:inline-block;
    width:fit-content;
    padding-left:1vw;
    padding-right:1vw;
    text-align:center;
    height:100%;
    border-radius:6cap;
    padding-top:1cap;
}

.header1 > a {
    height:100%;
    font-size:2.5cap;
    text-align:center;
}

.header2 {
    background-color:#00000055;
    margin-right:2vw;
    float:right;
    width:fit-content;
    padding-left:1vw;
    padding-right:1vw;
    text-align:center;
    height:100%;
    border-radius:6cap;
    padding-top:1cap;
}