html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(120, 120, 120);
    margin:0;
    color: rgb(223,220,220)
}

a {
    text-decoration: none; color: white;
}
.sec {
    background-color: rgb(91,91,91);
    border-radius: 2cap;
    margin:8px;
    padding-top: 0.5vh;
    padding-left: 0.5vw;
    padding-bottom: 7vh;
    text-align: center;
}

#ch {
    display:none
}

#ch:checked ~ .content {
    display:block
}

#ch:checked ~ .showmore {
    display:none;
}

#ch:checked ~ .showless {
    display: block;
}

.showless {
    display:none
}

.content {
    display:none;
}


label {
    display: inline-block;
    cursor:pointer;
    color:rgb(34, 148, 255);
    text-decoration: underline;
}